@font-face {
    font-family: 'GT Walsheim';
    src: url('GTWalsheim-Medium.woff2') format('woff2'),
        url('GTWalsheim-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GT Walsheim';
    src: url('GTWalsheim-Black.woff2') format('woff2'),
        url('GTWalsheim-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GT Walsheim';
    src: url('GTWalsheim-Regular.woff2') format('woff2'),
        url('GTWalsheim-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GT Walsheim';
    src: url('GTWalsheim-Bold.woff2') format('woff2'),
        url('GTWalsheim-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

